pipeline/GiveCandy.json
{
	"name": "GiveCandy",
	"properties": {
		"activities": [
			{
				"name": "LKP_Children",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CharacterName FROM charlieFinal.Characters\nWHERE AgeCategory = 'Child'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_SourceSqlCharlie",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_Child",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_Children",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_Children').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Replace with EXEC SSIS",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[GiveCandy]"
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureSqlCharlie",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}