pipeline/HandleChildBehavior.json
{
	"name": "HandleChildBehavior",
	"properties": {
		"activities": [
			{
				"name": "SET_Behavior",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Behavior",
					"value": {
						"value": "@if(equals(pipeline().parameters.ChildName, 'Charlie Bucket'), 'Good', 'Bad')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IF_Good",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SET_Behavior",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Behavior'), 'Good')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SP_SendHome",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SendBadChildHome]"
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureSqlCharlie",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "EP_GiveFactory",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "GiveGoodChildTheFactory",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ChildName": {
				"type": "string"
			}
		},
		"variables": {
			"Behavior": {
				"type": "String"
			}
		},
		"annotations": []
	}
}