CharlieAndTheDataFactoryVJK/PartialArmTemplates/ArmTemplate_5_9_2020_13_24_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CharlieAndTheDataFactoryVJK"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/GiveCandy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKP_Children",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT CharacterName FROM charlieFinal.Characters\nWHERE AgeCategory = 'Child'",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ds_SourceSqlCharlie",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE_Child",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LKP_Children",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LKP_Children').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Replace with EXEC SSIS",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[GiveCandy]"
									},
									"linkedServiceName": {
										"referenceName": "ls_AzureSqlCharlie",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HandleChildBehavior')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SET_Behavior",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Behavior",
							"value": {
								"value": "@if(equals(pipeline().parameters.ChildName, 'Charlie'), 'Good', 'Bad')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "IF_Good",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SET_Behavior",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('Behavior'), 'Good')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SP_SendHome",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SendBadChildHome]"
									},
									"linkedServiceName": {
										"referenceName": "ls_AzureSqlCharlie",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "EP_GiveFactory",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "GiveGoodChildTheFactory",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						}
					}
				],
				"parameters": {
					"ChildName": {
						"type": "string"
					}
				},
				"variables": {
					"Behavior": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}